{% extends 'StudyAppCoreBundle:Admin:layout.html.twig' %}

{% block main %}
    <section class="contents">
        <header class="header">
            <h1>レストラン一覧（APIからの取得）</h1>
        </header>
        <div class="stores">
        </div>
    </section>
{% endblock %}
